 {% load static %} <!-- Static files template tag -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>POST Data</h1>
    <!-- <img src="{% static 'image/josefin-3TFvE51aVqA-unsplash.jpg' %}" alt="green leaf"> -->
    {% for i in data %}

     <a href="{% url 'detail' i.id %}">{{ i.title }}</a>
        <p>{{ i.post_body }}</p>
        <p>{{ i.created | timesince}}ago</p>
        <p>{% now "d M Y" %}</p>
        <img src="{{ i.photo.url }}" alt="">

        <hr>
    {% endfor %}
</body>
</html>